.contact-box {
    height: 100vh;
    margin: 50px 0px;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.links{
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: rgb(174, 174, 174);
    width: 200px;
}
.links:hover{
    color: greenyellow;
}
.form-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
 
}
input{
    height: 40px;
    width: 500px;
    padding-left: 10px;
    font-size: 1rem;
    font-family: 'Plus Jakarta Sans', sans-serif;
    border: 1px solid greenyellow;
    border-radius: 3px;
    outline: none;
}
input:focus{
    border-color: greenyellow;
}
textarea{
    width: 500px;
    height: 220px;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 1rem;
    font-family: 'Plus Jakarta Sans', sans-serif;
    border: 1px solid greenyellow;
    border-radius: 3px;
    outline: none;
}
textarea:focus{
    border-color: greenyellow;
}
.text-final-box{
    width: 500px;
    .text-contact{
        color: white;
    }
}
button{
    width: 500px;
    height: 40px;
    background-color: greenyellow;
    color: #111;
    font-size: 1.2rem;
    font-family: 'Plus Jakarta Sans', sans-serif;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    font-weight: 700;
}
button:hover{
    background-color: #111111;
    color: greenyellow;
    box-shadow: greenyellow 0px 0px 0px 1px;
}
@media (max-width: 550px) {

    input, textarea, button, .text-final-box {
        width: 100%;
    }
    

  }