.tecno-box {
    margin: 50px 0px;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-image {
    display: flex;
   
}

img {
    width: 150px;
}
.image-box{
    display: flex;
    
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.tech-descrp{
    color: white;
}
  @media (max-width: 600px) {
   .tech-img{
        width: 85px;
        margin: 0px 20px;
   }
  }